---
UseTab: Never
---
Language: Cpp
BasedOnStyle: Google
IndentWidth: 2
AlignAfterOpenBracket: Align
BreakBeforeBraces: Allman
ColumnLimit: 250 
SortIncludes: false
NamespaceIndentation: All
ReflowComments: false
AllowShortFunctionsOnASingleLine: None
---
Language: ObjC
BasedOnStyle: Google
IndentWidth: 2
AlignAfterOpenBracket: Align
BreakBeforeBraces: Allman
ColumnLimit: 250
SortIncludes: false
NamespaceIndentation: All
ReflowComments: false
AllowShortFunctionsOnASingleLine: None
...
