name: Pull Request Validation

on:
  pull_request:
    branches:
      - main
      - next

jobs:
  build_feature:
    name: Wrapper + Manual Downloads
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]
        #os: [ubuntu-latest, macos-latest, windows-latest]
        include:
          - os: windows-latest
            name: win
          - os: macos-latest
            name: mac
          - os: ubuntu-latest
            name: linux
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Get Dependencies
        run: |
          mkdir deps
          cd deps
          git clone https://github.com/free-audio/clap
          git clone https://github.com/steinbergmedia/vst3sdk
          cd vst3sdk
          # temporary workaround, switch to vst3 sdk 3.7.7
          git switch --detach v3.7.7_build_19
          git submodule update --init --recursive
          cd ../..

      - name: Build project
        run: |
          cmake -S . -B ./build -DCMAKE_BUILD_TYPE=Debug -DCMAKE_OSX_ARCHITECTURES="arm64;x86_64" -DCLAP_SDK_ROOT=deps/clap -DVST3_SDK_ROOT=deps/vst3sdk -DCLAP_WRAPPER_OUTPUT_NAME=testplug
          cmake --build ./build --config Debug

      - name: Show Build Results
        shell: bash
        run: |
          find build -name testplug.vst3 -print
          find build -name testplug.component -print



  build_feature_cpm_download:
    name: Wrapper + CPM Downloads (win)
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Build project
        run: |
          cmake -S . -B ./build -DCMAKE_BUILD_TYPE=Debug -DCLAP_WRAPPER_DOWNLOAD_DEPENDENCIES=TRUE -DCLAP_WRAPPER_BUILD_AUV2=TRUE  -DCLAP_WRAPPER_BUILD_STANDALONE=TRUE -DCLAP_WRAPPER_OUTPUT_NAME=downloadplug
          cmake --build ./build --config Debug

      - name: Show Build Results
        shell: bash
        run: |
          find build -name downloadplug.vst3 -print
          find build -name downloadplug.component -print



  build_feature_cpm_download_linuxsa:
    name: Wrapper + CPM Downloads (Lin)
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Get Deps
        run: sudo apt-get install -y alsa alsa-tools libasound2-dev libjack-dev libgtk-3-dev

      - name: Build project
        run: |
          cmake -S . -B ./build -DCMAKE_BUILD_TYPE=Debug -DCLAP_WRAPPER_DOWNLOAD_DEPENDENCIES=TRUE -DCLAP_WRAPPER_BUILD_AUV2=TRUE  -DCLAP_WRAPPER_BUILD_STANDALONE=TRUE -DCLAP_WRAPPER_OUTPUT_NAME=downloadplug
          cmake --build ./build --config Debug

      - name: Show Build Results
        shell: bash
        run: |
          find build -name downloadplug.vst3 -print
          find build -name downloadplug.component -print



  build_feature_xcode:
    name: Wrapper + CPM Downloads + Gens
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest]
        gen: [Ninja, Xcode, "Ninja Multi-Config"]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Build project
        run: |
          cmake -S . -B ./build --G ${{ matrix.gen }} -DCMAKE_BUILD_TYPE=Debug -DCLAP_WRAPPER_DOWNLOAD_DEPENDENCIES=TRUE -DCLAP_WRAPPER_BUILD_AUV2=TRUE  -DCLAP_WRAPPER_BUILD_STANDALONE=TRUE -DCLAP_WRAPPER_OUTPUT_NAME=downloadplug
          cmake --build ./build --config Debug

      - name: Show Build Results
        shell: bash
        run: |
          find build -name downloadplug.vst3 -print
          find build -name downloadplug.component -print
          
